@use 'variables' as *;

.text {
    &-1 { color: $text-1; }
    &-2 { color: $text-2; }
    &-dark-1 { color: $text-dark-1; }
    &-orange { color: $orange; }
    &-pink { color: $pink; }
    &-neon-red { color: #F63C4E; }
    &-yellow { color: $yellow; }
    &-half-way-orange { color: $half-way-orange; }
    &-gray { color: $gray; }
    &-blue { color: $blue; }
    &-black { color: $black; }
    &-teal { color: $teal; }
    &-emerald { color: #46C998; }
    &-sea-blue { color: #83ACB2; }
    &-violet { color: $violet; }
    &-baby-blue { color: $baby-blue; }
    &-white { color: $background-1; }
    &-green { color: #93DA08; }
    &-blood-orange { color: #C53000; }
    &-light-gray { color: #CED0D3; }
    &-dark-gray { color: #373737; }
    &-dark-gray-2 { color: #1F1F1F; }

    &-gradient {
        &-orange { @include gradient-text($orange, $yellow); }
        &-purple { @include gradient-text(#52A6E0, #F379E7); }
        &-yellow { @include gradient-text(#FFB700, $yellow); }
        &-purple-vertical { @include gradient-text(#B57DC1, #9A7DC1); }
        &-gray-vertical { @include gradient-text($background-2, $background-1); }
    }

    // Sizes
    &-s { font-size: $text-s-13; }
    &-m { font-size: $text-m-16; }
    &-l { font-size: $text-l-19; }
    &-xl { font-size: ptr(22); font-weight: 500; }
    &-xxl { font-size: $text-xl-26; font-weight: 500; }

    // Headings
    &-hs { font-size: $heading-s-22; }
    &-hm { font-size: $heading-m-32; }
    &-hl { font-size: $heading-l-44; }
    &-hxl { font-size: $heading-xl-60; }

    // Alignment
    &-center { text-align: center; }
    &-right { text-align: right; }
    &-left { text-align: left; }
}

.bg {
    &-1 { background-color: $background-1; &:is(.button):before { background-color: $background-1; } }
    &-2 { background-color: $background-2; &:is(.button):before { background-color: $background-2; } }
    &-dark-1 { background-color: $background-dark-1; &:is(.button):before { background-color: $background-dark-1; } }
    &-dark-2 { background-color: $background-dark-2; &:is(.button):before { background-color: $background-dark-2; } }
    &-orange { background-color: $orange; &:is(.button):before { background-color: $orange; } }
    &-pink { background-color: $pink; &:is(.button):before { background-color: $pink; } }
    &-neon-red { background-color: #F63C4E; &:is(.button):before { background-color: #F63C4E; } }
    &-yellow { background-color: $yellow; &:is(.button):before { background-color: $yellow; } }
    &-green { background-color: #93DA08; &:is(.button):before { background-color: #93DA08; } }
    &-half-way-orange { background-color: $half-way-orange; &:is(.button):before { background-color: $half-way-orange; } }
    &-blood-orange { background-color: #C53000; &:is(.button):before { background-color: #C53000; } }
    &-light-gray { background-color: #CED0D3; &:is(.button):before { background-color: #CED0D3; } }
    &-gray { background-color: $gray; &:is(.button):before { background-color: $gray; } }
    &-dark-gray { background-color: #373737; &:is(.button):before { background-color: #373737; } }
    &-dark-gray-2 { background-color: #1F1F1F; &:is(.button):before { background-color: #1F1F1F; } }
    &-blue { background-color: $blue; &:is(.button):before { background-color: $blue; } }
    &-black { background-color: $black; &:is(.button):before { background-color: $black; } }
    &-teal { background-color: $teal; &:is(.button):before { background-color: $teal; } }
    &-emerald { background-color: #46C998; &:is(.button):before { background-color: #46C998; } }
    &-sea-blue { background-color: #83ACB2; &:is(.button):before { background-color: #83ACB2; } }
    &-violet { background-color: $violet; &:is(.button):before { background-color: $violet; } }
    &-baby-blue { background-color: $baby-blue; &:is(.button):before { background-color: $baby-blue; } }
    &-white { background-color: $background-1; &:is(.button):before { background-color: $background-1; } }

    &-gradient {
        &-orange { background: linear-gradient(to right, $orange, $yellow); &:is(.button):before { background: linear-gradient(to right, $orange, $yellow); } }
        &-yellow { background: linear-gradient(to right, #FFB700, $yellow); &:is(.button):before { background: linear-gradient(to right, #FFB700, $yellow); } }
        &-purple { background: linear-gradient(to right, #52A6E0, #F379E7); &:is(.button):before { background: linear-gradient(to right, #52A6E0, #F379E7); } }
        &-purple-vertical { background: linear-gradient(to bottom, #B57DC1, #9A7DC1); &:is(.button):before { background: linear-gradient(to bottom, #B57DC1, #9A7DC1); } }
        &-gray-vertical { background: linear-gradient(to bottom, $background-2, $background-1); &:is(.button):before { background: linear-gradient(to bottom, $background-2, $background-1); } }
    }
}

.overlay {
    &-orange {
        position: relative;
        &:before { 
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #FF6F09;
            z-index: 1;
            mix-blend-mode: hard-light;
        }
    }
}

.lh {
    &-s { line-height: 1; }
    &-m { line-height: 1.35; }
    &-l { line-height: 1.5; }
    &-xl { line-height: 2; }
}

.mb {
    &-0 { margin-bottom: 0; }
    &-xxs { margin-bottom: $margin-xxs-12; }
    &-xs { margin-bottom: $margin-xs-18; }
    &-s { margin-bottom: $margin-s-30; }
    &-r { margin-bottom: ptr(60); }
    &-m { margin-bottom: $margin-m-75; }
    &-l { margin-bottom: $margin-l-100; }
    &-remove {
        > * {
            margin-bottom: 0;
        }
    }
}

.mt {
    &-0 { margin-top: 0; }
    &-xxs { margin-top: $margin-xxs-12; }
    &-xs { margin-top: $margin-xs-18; }
    &-s { margin-top: $margin-s-30; }
    &-r { margin-top: ptr(60); }
    &-m { margin-top: $margin-m-75; }
    &-l { margin-top: $margin-l-100; }
}

.ml {
    &-0 { margin-left: 0; }
    &-xxs { margin-left: $margin-xxs-12; }
    &-xs { margin-left: $margin-xs-18; }
    &-s { margin-left: $margin-s-30; }
    &-r { margin-left: ptr(60); }
    &-m { margin-left: $margin-m-75; }
    &-l { margin-left: $margin-l-100; }
}

.mr {
    &-0 { margin-right: 0; }
    &-xxs { margin-right: $margin-xxs-12; }
    &-xs { margin-right: $margin-xs-18; }
    &-s { margin-right: $margin-s-30; }
    &-r { margin-right: ptr(60); }
    &-m { margin-right: $margin-m-75; }
    &-l { margin-right: $margin-l-100; }
}

.pv {
    &-s { padding-top: $padding-s-15; padding-bottom: $padding-s-15; }
    &-m { padding-top: $padding-m-45; padding-bottom: $padding-m-45; }
    &-l { padding-top: $padding-l-80; padding-bottom: $padding-l-80; }
    &-xl { padding-top: $margin-l-100; padding-bottom: $margin-l-100; }
    &-hero { padding-top: ptr(255); padding-bottom: $margin-l-100; }
}

.ph {
    &-s { padding-left: $padding-s-15; padding-right: $padding-s-15; }
    &-m { padding-left: $padding-m-45; padding-right: $padding-m-45; }
    &-l { padding-left: $padding-l-80; padding-right: $padding-l-80; }
}

.radius {
    &-xl { border-radius: $radius-xl-80; }
    &-l { border-radius: $radius-l-40; }
    &-m { border-radius: $radius-m-18; }
    &-s { border-radius: $radius-s-10; }
}

.marginless {
    * {
        margin: 0;
    }
}

.shadow {
    box-shadow: 0 0.01rem 2rem 0 rgba(0, 0, 0, 0.05);

    &-top {
        box-shadow: -2.75rem -3.75rem 3.125rem -3.125rem rgba(0, 9, 0, 0.06), 2.75rem -3.75rem 3.125rem -3.125rem rgba(0, 9, 0, 0.06)
    }
}

.slot {
    // Alignment
    &.center, &.right, &.left {
        justify-content: center;
        justify-items: center;
    }

    &-dual {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 0 $gap-s-24;
    }
}

.full-w {
    width: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.padded {
    max-width: ptr(920);
    margin-left: auto;
    margin-right: auto;
}

.content-top {
    .dual-layout-content {
        align-self: flex-start;
        padding-top: ptr(50);
    }
}

/* Grid */
@for $i from 1 through 15 {
    [data-grid="#{$i}"] {
        display: grid;
        grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
    }
    [data-grid-cell-span="#{$i}"] {
        grid-column: span #{$i};
    }
    [data-grid-vertical-gap="#{$i}"] {
        grid-column-gap: #{$i}rem;
    }
    [data-grid-horizontal-gap="#{$i}"] {
        grid-row-gap: #{$i}rem;
    }

    [data-grid-row-span="#{$i}"] {
        grid-row: span #{$i};
    }
}

.gap {
    &-s { gap: $gap-s-24; }
    &-m { gap: ptr(34); }
    &-l { gap: $gap-l-72; }
    &-xl { gap: $gap-xl-120; }
}