@use 'variables' as *;

[data-wf--media-block--variant="list-item"] {
    p {
        margin-bottom: 0;
    }
}

// Homepage
#benefits {
    .hero-img {
        width: ptr(160);
    }

    .media-heading {
        max-width: ptr(920);
    }
}

#mission {
    .media-image {
        width: ptr(280);
    }
}

#speech-room {
    .media-image {
        width: ptr(92);
    }
}

// Little stories
#hero-stories {
    .disclaimer {
        font-weight: 500;
        font-size: ptr(13);

        p {
            margin-bottom: 0;
        }
    }
}

#crafted-stories {
    .custom-img {
        width: ptr(514);
    }

    .custom-text {
        font-size: ptr(22);
        max-width: ptr(920);
    }

    .custom-icon {
        width: ptr(74);
    }
}

#research {
    .custom-icon {
        width: ptr(30);
    }

    .research-content {
        gap: ptr(50);
    }

    .list-item {
        margin-left: ptr(48);
    }
}

#scenes {
    --background: #F9F9F9;
    --end-color: #7E8D47;
}

#conversation {
    --background: linear-gradient(to bottom, #E1E5F8, #D7F7FC);
    --end-color: #D0E2B2;
}

#scenes, #conversation {
    padding-bottom: ptr(60);
    padding-top: ptr(110);
    position: relative;
    background: var(--background);

    &:before {
        content: "";
        position: absolute;
        z-index: 0;
        background: var(--end-color);
        width: 100%;
        height: ptr(310);
        left: 0;
        bottom: 0;
    }
    > img {
        mask-image: none;
        // contain
        object-fit: cover;
        // 310 ptr from the bottom
        background-position: bottom center;
        margin-top: auto;
        height: ptr(491);
        margin-bottom: ptr(310);
    }

    .scenes-item-description {
        transform-origin: center calc(100% + ptr(95));
        transform: translateX(50%) rotate(45deg);
        opacity: 0;
        visibility: hidden;
        transition: all 1s cubic-bezier(0.060, 0.770, 0.000, 1.615);

        &:before {
            transform: translateX(50%);
            right: 50%;
            content: "";
            background-color: white;
            border-radius: 50%;
            width: ptr(102);
            aspect-ratio: 1/1;
            position: absolute;
            top: ptr(-20);
            z-index: -1;
        }

        &:after {
            content: "";
            position: absolute;
            left: 50%;
            border-radius: ptr(5);
            width: ptr(25);
            aspect-ratio: 1/1;
            background-color: white;
            transform: translateX(-50%) rotate(45deg);
            top: calc(100% - ptr(16));
        }

    }
    
    .scenes-item-button:hover {
        + .scenes-item-description {
            transform: translateX(50%) rotate(0deg);
            opacity: 1;
            visibility: visible;
        }

    }
}

#test-smarter {
    .custom-img {
        margin-left: ptr(180);
    }
}

[slot="children"] {
    display: contents;
}
