@use 'variables' as *;

[data-wf--media-block--variant="list-item"] {
    p {
        margin-bottom: 0;
    }
}

// Homepage
#benefits {
    .hero-img {
        width: ptr(160);
    }

    .media-heading {
        max-width: ptr(920);
    }
}

#mission {
    .media-image {
        width: ptr(280);
    }
}

#speech-room {
    .media-image {
        width: ptr(92);
    }
}

// Little stories
#hero-stories {
    .disclaimer {
        font-weight: 500;
        font-size: ptr(13);

        p {
            margin-bottom: 0;
        }
    }
}

#crafted-stories {
    .custom-img {
        width: ptr(514);
    }

    .custom-text {
        font-size: ptr(22);
        max-width: ptr(920);
    }

    .custom-icon {
        width: ptr(74);
    }
}

#research {
    .custom-icon {
        width: ptr(30);
    }

    .research-content {
        gap: ptr(50);
    }

    .list-item {
        margin-left: ptr(48);
    }
}