@use "helpers" as *;
@use "variables" as *;

.wf-empty {
    padding: 0!important;
}

.enroll-roller {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @include editor-notice;

    @include breakpoint('medium') {
        grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint('small') {
        grid-template-columns: repeat(2, 1fr);
    }

    img {
        padding: 3rem;
        border: 1px dashed rgba(black, 0.1);
        width: 100%;
        height: 100%;
        max-width: 300px;
        object-fit: contain;
    }
}

.testimonials {   
    &-title {
        @include editor-notice;
    }
    &-wrapper {
        flex-wrap: wrap;
    }
}

.testimonial {
    &-comment {
        font-size: ptr(14);
    }
}

[megamenu] {
    margin-top: ptr(-120);
    padding-bottom: 0;
    
    .header-megamenu {
        position: relative;
        display: flex;
        justify-content: flex-start;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        margin-top: 1rem;
        
        .megamenu {
            flex-shrink: 0;
            width: 100%;
            scroll-snap-align: center;
        }
    }
}

#scenes, #conversation {
    .scenes-item-description {
        transform: translateX(50%) rotate(0deg);
        opacity: 1;
        visibility: visible;
    }
}