@use "helpers" as *;
@use "variables" as *;

.logo-roller-logos {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @include editor-notice;

    @include breakpoint('medium') {
        grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint('small') {
        grid-template-columns: repeat(2, 1fr);
    }

    img {
        padding: 3rem;
        border: 1px dashed rgba(black, 0.1);
        width: 100%;
        height: 100%;
        max-width: 300px;
        object-fit: contain;
    }
}

.testimonial {
    &-comment {
        font-size: ptr(14);
    }
}