@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');

// Webflow editor styles

.wf-design-mode {
    .custom-styles:has(> div:nth-of-type(2):not(.w-condition-invisible)) {
        font-family: 'TASA Explorer', serif;
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        color: white;
        border: 1px solid rgba(white, 0.1);
        border-radius: 6px;
        padding: 5px;
        font-size: 10px;
        mix-blend-mode: difference;
        z-index: 1000;
        
        &:before {
            content: "";
            font-size: 14px;
            background: radial-gradient(circle, black 0%, black 20%, transparent 20%), conic-gradient(from 0deg, red, orange, yellow, green, blue, indigo, violet, red);
            border-radius: 50%;
            height: 16px;
            width: 16px;
            animation: spin 2s linear infinite;
            @keyframes spin {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
        }
        
        &:after {
            content: "DEV WORKING ON THIS PAGE, PLEASE WAIT...";
            padding-left: 10px;
            font-weight: 400;
            letter-spacing: 0.1em;
            opacity: 0.5;
        }

        .legend {
            position: absolute;
            top: calc(100% + 16px);
            pointer-events: none;
            left: 0;
            opacity: 0;
            transform: translateY(10px);
            width: 100%;
            color: rgba(white, 0.5);
            min-height: 20px;
            border-radius: 6px;
            border: 1px solid rgba(white, 0.1);
            padding: 5px;
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        }

        &:hover .legend {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    .spacer {
        font-family: 'TASA Explorer', serif;
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.05) 2%, black 2%, black 50%, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0.05) 52%, black 52%, black);
        mix-blend-mode: difference;
        background-size: 50px 50px;
        background-position: 0 0;
        background-repeat: repeat;
        border: 1px dashed rgba(white, 0.1);
        position: relative;
        box-shadow: none;
        border-radius: 6px;
        display: grid;
        grid-template-rows: 1fr;
        padding: 0;
        min-height: 40px;
        line-height: 1;
        animation: displace 3s linear infinite;
        outline: 0!important;

        @keyframes displace {
            from {
                background-position: 0 0;
            }
            to {
                background-position: 50px 0px;
            }
        }
    
        &:before {
            content: "only visible in editor mode";
            place-self: center center;
            color: rgba(white, 0.5);
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            z-index: 1;
            background-color: $black;
            padding: 5px;
        }
    }
}

@mixin editor-notice($content: "This module looks different in editor mode to facilitate the addition of new items") {
    &:before {
        content: $content;
        font-family: 'TASA Explorer', serif;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        color: white;
        border: 1px solid rgba(white, 0.1);
        border-radius: 6px;
        padding: 5px;
        font-size: 10px;
        mix-blend-mode: difference;
        z-index: 1000;
        text-transform: uppercase;
        grid-column: span 4;
        place-self: center center;

        @include breakpoint('medium') {
            grid-column: span 3;
        }

        @include breakpoint('small') {
            grid-column: span 2;
        }
    }
}