@use "helpers" as *;
@use "variables" as *;

body {
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

.enroll-roller {
    overflow: hidden;
    place-self: center;
    mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
    align-items: center;
    gap: ptr(72);
    display: flex;
}

.faq-item-a {
    height: 0;
    padding-bottom: 0;
}

.custom-styles {
    display: none !important;
}

[megamenu] {
    position: fixed;
    top: 0;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;

    .header-menu-link {
        pointer-events: all;
    }

    .header-megamenu {
        opacity: 0;
        visibility: hidden;
        pointer-events: all;
    }
}