@use 'scss/variables' as *;
@use 'scss/helpers' as *;
@use 'scss/modules' as *;
@use 'scss/classes' as *;
@use 'scss/components' as *;
@use 'scss/forms' as *;

html {
    --fontSize: min(calc(1680 / 1290 * 16px), calc(100vw / 1290 * 16));    
    
    @include breakpoint(medium) {
        --fontSize: min(calc(1680 / 991 * 24px), calc(100vw / 991 * 24));
    }
    
    @include breakpoint(small) {
        --fontSize: min(calc(1680 / 767 * 24px), calc(100vw / 767 * 24));
    }

    font-size: var(--fontSize);
    height: auto;
}

[data-automation-id="focused-symbol-mask"] {
    display: none !important;
    visibility: hidden !important;
}

html.wf-design-mode {
    @import 'scss/editor';
}

html:not(.wf-design-mode) {
    @import 'scss/site';
}

a {
    color: $half-way-orange;
}

section {
    > img {
        // mask gradient transparent bottom
        mask-image: linear-gradient(to bottom, black 0%, black 50%, transparent 70%);
    }
}

.button {
    display: inline-block;
    padding: ptr(15) ptr(38);
    text-decoration: none;
    font-size: ptr(16);
    line-height: ptr(24);
    font-weight: 700;
    border-radius: 999em;
    gap: ptr(6);
    display: flex;
    justify-content: center;
    border: none;
    text-align: center;
    cursor: pointer;
    position: relative;	
    background: transparent!important;
    z-index: 1;

    &:hover:before {
        transform: scale(1.2);
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
        border-radius: 999em;
        background-color: $yellow;
        z-index: -1;
        // Transition that mimics elastic.out(1, 0.3)
        transition: transform 1s cubic-bezier(0.060, 0.770, 0.000, 1.615);
    }

    &.disabled:before {
        background-color: $border-1;
    }

    &.small {
        padding: ptr(10) ptr(20);
    }

    &.blocky {
        border-radius: ptr(13);

        &:before {
            border-radius: inherit;
        }
    }
}

.bg-hex {
    background-color: #FFAC00;
    position: relative;
    // overflow: hidden;
    .bg-wrapper {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        z-index: 0;
        border-radius: inherit;
        container-type: inline-size;
    }
    
    .bg {
        position: absolute;
        outline: 1px solid red;
        display: grid;
        top: 50%;
        left: 50%;
        opacity: 0.45;
        width: 100%;
        transform: translate(-50%, -50%);
    }

    > * {
        z-index: 1;
    }

    .hex {
        width: max(calc(100% / 6));
        aspect-ratio: 1 / 1;
        background-color: $half-way-orange;
        grid-area: 1/1;
        clip-path: polygon(
            50% 0%, 
            93.3% 25%, 
            93.3% 75%, 
            50% 100%, 
            6.7% 75%, 
            6.7% 25%
        );
    }
}

.testimonial {
    margin-bottom: 1.5rem;
    position: relative;
    filter: drop-shadow(-1 4 20px rgba(0, 0, 0, 0.06));

    &-comment {
        font-size: calc(18 / 16 * 1rem);
    }

    &:after {
        content: '';
        background-color: inherit;
        height: 1.5rem;
        position: absolute;
        aspect-ratio: 1.656;
        top: 100%;
        right: 10%;
        clip-path: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53 32'%3E%3CclipPath id='testimonial-clip' clipPathUnits='objectBoundingBox'%3E%3Cpath d='M1 0s-0.1 0-0.1 0.2v0.6s0 0.2-0.1 0.2-0.1-0.1-0.1-0.1L0.2 0.1S0.1 0 0 0z'/%3E%3C/clipPath%3E%3C/svg%3E#testimonial-clip");
        clip-path: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53 32'%3E%3CclipPath id='testimonial-clip' clipPathUnits='objectBoundingBox'%3E%3Cpath d='M1 0s-0.132-0.0-0.132 0.219v0.563s0 0.188-0.075 0.188-0.113-0.094-0.113-0.094L0.17 0.125S0.105 0.031 0 0.00z'/%3E%3C/clipPath%3E%3C/svg%3E#testimonial-clip");
    }
}

.testimonials {    
    &-bullet {
        position: relative;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: white;
            opacity: 0;
            // transition: transform 1s cubic-bezier(0.060, 0.770, 0.000, 1.615);
        }

        &.from-left {
            &:after {
                opacity: 1;
                animation: from-left 1s cubic-bezier(0.060, 0.770, 0.000, 1.615);
            }
        }

        &.from-right {
            &:after {
                opacity: 1;
                animation: from-right 1s cubic-bezier(0.060, 0.770, 0.000, 1.615);
            }
        }

        &.active {
            &:after {
                transition: transform 1s cubic-bezier(0.060, 0.770, 0.000, 1.615);
                transform: translateX(0%);
            }
        }
        @keyframes from-left {
            from {
                transform: translateX(-100%);
            }
            to {
                transform: translateX(0%);
            }
        }
        @keyframes from-right {
            from {
                transform: translateX(100%);
            }
            to {
                transform: translateX(0%);
            }
        }
    }
}

.faq {
    &-item {
        display: grid;
        grid-template-columns: auto 16px;
        gap: 0 ptr(10);

        &:before {
            content: "";
            grid-area: 1/2;
            width: 16px;
            height: 4px;
            background-color: $half-way-orange;
            border-radius: 2px;
            place-self: start center;
            margin-top: calc(ptr(4) + 6px);
            transition: transform 1s cubic-bezier(0.770, 0.000, 0.175, 1.000);
        }

        &:after {
            content: "";
            grid-area: 1/2;
            height: 16px;
            width: 4px;
            background-color: $half-way-orange;
            border-radius: 2px;
            place-self: start center;
            margin-top: ptr(4);
            transition: transform 1s cubic-bezier(0.770, 0.000, 0.175, 1.000);
        }

        &-a {
            // interpolate keywords
            interpolate-size: allow-keywords;
            transition: height 1s cubic-bezier(0.770, 0.000, 0.175, 1.000), padding 1s cubic-bezier(0.770, 0.000, 0.175, 1.000);
            
        }

        &.active {
            .faq-item-a {
                height: auto;
                padding-bottom: ptr(20);
            }

            &:before {
                transform: rotate(-180deg);
            }

            &:after {
                transform: rotate(-90deg);
            }
        }
    }
}

.two-apps {
    position: relative;

    * {
        z-index: 1;
    }

    &:before {
        content: "";
        position: absolute;
        height: ptr(414);
        width: 100%;
        top: 0;
        left: 0;
        background-color: $background-1;
        z-index: 0;
    }
}

h2:has([diction]) {
    mix-blend-mode: darken;
}

[diction] {
    .dot {
        position: absolute;
        top: 0;
        left: 0;
        width: 0.8rem;
        height: 0.8rem;
        background-color: $text-1;
        border-radius: 50%;
        z-index: 1;
    }
}

[moving-hex], [data-animation="moving-hex"] {
    position: relative;

    > * {
        z-index: 1;
    }

    .hex-wrapper {
        position: absolute;
        inset: 0;
        transform: translateY(-6rem);
        display: grid;
        z-index: -1;
    }

    .hex-controller {
        width: max(calc(100% / 11));
        aspect-ratio: 1 / 1;
        grid-area: 1/1;
        display: flex;
        
        .hex {
            flex-grow: 1;
            background-color: #f2f2f2;
            clip-path: polygon(
                50% 0%, 
                93.3% 25%, 
                93.3% 75%, 
                50% 100%, 
                6.7% 75%, 
                6.7% 25%
            );
        }
    }
}

.header-menu {
    pointer-events: all;
    &-link {
        height: 100%;
        color: $text-1;
        align-items: center;
        display: flex;
        font-weight: 600;
        position: relative;

        &[megamenu-link="1"] {
            &.active {
                &:after {
                    opacity: 1;
                    transform: translate(-50%, 1rem) rotate(-45deg);
                }
            }
            &:after {
                content: '';
                opacity: 0;
                position: absolute;
                background-color: red;
                height: ptr(8);
                width: ptr(8);
                border-radius: ptr(2);
                background-color: #1D1D1D;
                top: 50%;
                left: 50%;
                z-index: 0;
                transform: translate(-50%, 1.5rem) rotate(-45deg);
                // diagonal clip path
                clip-path: polygon(0 0, 100% 100%, 0 100%);
                transition: all 1s cubic-bezier(0.060, 0.770, 0.000, 1.615);
            }
        }
    }
}

[megamenu] .header-megamenu {
    position: relative;
    overflow: hidden;

    > * {
        z-index: 1;
    }

    .spotlight {
        position: absolute;
        width: 60rem;
        height: 60rem;
        top: 0;
        z-index: 0;
        left: 0;
        background-image: radial-gradient(circle at center, #855D0D 0%, transparent 50%, transparent 100%);
        border-radius: 50%;
        pointer-events: none;
        transform: translate(-50%, -50%);
    }
}

.video {
    &-icon {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $black;
            border-radius: 50%;
            z-index: -1;
            opacity: 0.6;
            transition: transform 1s cubic-bezier(0.060, 0.770, 0.000, 1.615);
        }

        img {
            transition: transform 1s cubic-bezier(0.060, 0.770, 0.000, 1.615);
        }
    }

    &:hover {
        .video-icon {
            &:before {
                transform: scale(1.1);
            }

            img {
                transform: scale(0.9);
            }
        }
    }
}

.faded-end {
    mask-image: linear-gradient(to bottom, black 0%, black 80%, transparent 100%);
}

.w-richtext {
    h1, h2, h3, h4, h5, h6 {
        &:not(:first-child) {
            margin-top: revert;
        }
        margin-bottom: revert;
        font-size: revert;
        font-weight: revert;
        color: revert;
        text-align: revert;
        text-transform: revert;
        text-decoration: revert;
        text-indent: revert;
        text-overflow: revert;
        text-shadow: revert;
        text-wrap: revert;
    }
}

.extra-margin {
    padding-bottom: ptr(320);

    + * .slot {
        margin-top: ptr(-210);
    }
}